body {
  position: absolute;
  background: url("https://static.pexels.com/photos/6663/desk-white-black-header.jpg") no-repeat center center fixed;
  background-size: cover; 
}

.box {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin-right: 10px;
  background-color: #333333;
  width: 70px;
  height: 70px;  
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.putas {
margin-top: 200px;
margin-left: 200px;
}